*.fastq.gz
test_data/*.txt
test_data/*.wf
test_data/*.bam
test_data/*.bai
test_data/*.bedGraph
test_data/*.png
test_data/log/
*.RData
test_data/timing/
test_data/*.md
test_data/*.html
new_flag/
old_flag/
SRR400564/
